.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  width: 100%;
}

.slider__images {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.slider-images__image {
  position: absolute;
  top: 0;
  align-items: center;
  display: none;
  width: 100%;
  transition: transform 1.5s linear;
  backface-visibility: hidden;

  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
}

.slider-images__image_active,
.slider-images__image_next,
.slider-images__image_prev {
  display: block;
}

.slider-images__image_next.slider-images__image_left,
.slider-images__image_prev.slider-images__image_right {
  transform: translateX(0);
}

.slider-images__image_next,
.slider-images__image_active.slider-images__image_right {
  transform: translateX(100%);
}

.slider-images__image_prev,
.slider-images__image_active.slider-images__image_left {
  transform: translateX(-100%);
}

.slider-pagination {
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;

  &__item {
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    z-index: 10;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &_active {
      background-color: $text-color-white;
    }
  }
}

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

@media (max-width: 699px) {
  .slider-buttons {
    align-items: start;
    position: absolute;
    top: 16%;
  }
}

.button-prev,
.button-next {
  margin: 0 1%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  z-index: 3;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
  }

  &__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    cursor: pointer;
  }
}

.button-prev__icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.button-next__icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
